
@import '../Vars.scss';

.flex {
  display: flex;
  align-items: center;
}

.main {
  height: 300px;
  @extend .flex;
  justify-content: center;
  flex-direction: column;
}
.main__title {
  color: $white;
  font-size: 25px;
}

.input {
  border: 2px solid $white;
  border-radius: 25px;
  color: $white;
  font-family: $theme-font;
  font-size: 16px;
  height: 50px;
  width: 70%;
  padding: 0px 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}
::placeholder {
  color: $white;
}