$white: white;
$purple: #8F57FD;

.flex {
  display: flex;
  align-items: center;
}

.main {
  height: 300px;
  @extend .flex;
  justify-content: center;
  flex-direction: column;
}
.main__title {
  color: $white;
  font-size: 25px;
}